.about_headings {
  text-decoration: underline;
}

.posters {
  height: 400px;
  width: 300px;

  border-radius: 5%;
  margin: 1em;
}

.cat_posters {
  height: 300px;
  width: 300px;

  border-radius: 5%;
  margin: 1em;
}

@media screen and (min-width: 992px) and (max-width: 1200) {
  .cat_posters {
    height: 250px;
    width: 250px;
  }

  .posters {
    height: 333px;
    width: 250px;
  }
}
